/* ==========================================================================
   Modern CSS reset by Josh Comeau: https://www.joshwcomeau.com/css/custom-css-reset/
========================================================================== */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: 'Young';
  color: #854632;
}

h1 {
  color: #302D2C;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* 
==========================================================================
   Hosted Fonts
==========================================================================
*/

/* Hosted fonts */

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Young';
  src: url('../fonts/YoungSerif-Regular.ttf');
}

/* Variables */

:root {
  font: 400 1rem/1.2 'Outfit', sans-serif;
  background-color: #F3E6D8;
  height: 100vh;
}

/* Classes */

.content-wrapper {
  position: relative;
  width: 60%;
  top: 6.25rem;
  margin-inline: auto;
  background-color: #fff;
  padding: 3rem;
}

/* Media queries start */

@media only screen and (min-width: 20rem) and (max-width: 48rem) {
  .content-wrapper {
    width: 100%;
    position: static;
    padding: 1.5rem;
    font-weight: 400;
  }
}